.Login-Page-Main{
    margin-top: 2rem;
}
.login-page-form{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-page-form label{
    font-size: 20px;
}
.login-page-form input{
    width: 100%;
    padding:2px;
}
.login-page-form div{
    margin-top: 0.5rem;
}
.login-page-form button{
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #4CAF50; 
    color: white; 
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.login-page-form button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
}

.login-page-form button:active {
    transform: translateY(0); 
}
.login-page-img {
    
    height: 100%;
    animation: float 4s ease-in-out infinite;
    width: 100%;
    
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #4077B6; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media  screen and (max-width:768px) {
.login-page-img{
    display: none;
}    
}