.container {
    margin-top: 20px;
}

.Dealing-div {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out;
}

.Dealing-div.Deal-Orange {
    background-color: #C97539;
}

.Dealing-div.Deal-Orange :hover {
    background-color: #b06d3c;
}

.Dealing-div:hover {
    background-color: #6b97ca;
}

.Dealing-div.Deal-Orange :hover {
    background-color: #b06d3c;
}


.input-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-10px);
    margin-top: 5px;
}

.input-container.open {
    max-height: 100px;
    transform: translateY(0);
    padding-top: 5px;
}

.input-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.new-deal-inputs {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-10px);
}

.new-deal-inputs.open {
    max-height: 200px;
    transform: translateY(0);
    padding-top: 10px;
}

.new-deal-inputs input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.new-deal-inputs.open input {
    opacity: 1;
}

/* Transact button style */
.transact-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.transact-button:hover {
    background-color: #218838;
}


.spinner {
    color: #007BFF;
    font-size: 14px;
    margin-top: 10px;
}


.Deal-Main {
    margin-bottom: 15px;
}

.Deal-Main p {
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

.Deal-Input {
    position: relative;
}

.Deal-blue {
    background-color: #4077B6;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.Deal-left {
    text-align: left;
}

.Deal-m-top {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.deal-top {
    margin-top: 10px;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .Deal-Main {
        margin-bottom: 20px;
    }

    .Dealing-div {
        padding: 8px;
    }

    .Deal-blue {
        padding: 8px;
    }

    .transact-button {
        width: 100%;
        margin-top: 15px;

    }
}

.new-deal-inputs.open {
    max-height: 300px;
    transform: translateY(0);
    padding-top: 10px;
}

.transact-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
    display: block;
    width: 100%;
}

.transact-button:hover {
    background-color: #218838;
}

.deal-or {
    margin-top: 0.5rem;
}

.ethidcheck {
    color: white !important;
    position: relative;
    left: 1rem;
}
.Deal-status-receive{
display: flex;
}
.Deal-status-receive h5{
    font-size: 16px;
}
.user1agree{
    margin-top: 3rem;
}
.paidwarnbtn{
    background-color: red;
    color:white;
    width: auto;

}
.paidwarnbtn:hover{
    background-color: rgb(236, 105, 105);
}