.navover-main{
    padding: 10px 0px 10px 10px;
}
/* .navover-small{
    font-size: 10px;
    margin-top: 2rem;
} */




@media screen and (max-width:768px) {
    .navover-box p {
        padding:0px;
        margin:0px;
       
    }
    .navover-box-top{
        margin-top: 1rem;
    }

    .navover-small{
        font-size: 10px;
        margin-top: 2rem;
    }
    .navover-flexend{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
    }
    .market-price-nav{
        display: flex;
        justify-content: flex-end;
    }
    .flex-navover{
        
        display: flex;
        justify-content:flex-end;
        margin-right: 3rem;
      
    }
}
.active-modl {
    overflow: hidden;
  }
  
  /* Modal Overlay */
  .dealnavoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure it's above the rest of the content */
    cursor: pointer;
  }
  
  /* Modal Container */
  .dealmodel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Above the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  /* Modal Content */
  .dealmodelcontent {
    background-color:#191A1A;


    padding: 10px;
    width: 400px;
    max-width: 90%;
    color: white;
    border-radius: 2rem;

    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Keep it above the overlay */
  }
  
  /* Close Button for Modal */
  .navdealclose {
    background:linear-gradient(to right,red,green,blue,yellow);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .navdealclose:hover {
  }
  
  .dealmodelimg{
    height:100%;
    width: 2rem;
  }
  .dealnav-modelbox{
    display: flex;
    background-color: #242525;
    padding: 8px;
    border-radius: 2rem;

    
  }
  .dealnav-modelbox:hover{
    background-color: #2e2f2f;
  }
  .dealnav-modelbox p{
    position: relative;
    top: 0.6rem;
    left: 1rem;
  }
  .deal-top-model{
    margin-top: 1rem;
  }