/* Add this CSS to your component or stylesheet */
.price-ticker {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  background-color: #000; 
  background: linear-gradient(to right, #000000, #2f2f2f, #4c4c4c);

 


  color: #fff; /* White text for the prices */
  COLOR:rgb(112, 91, 91);
  padding: 10px 0;
}

.price-ticker span  {
  display: inline-block;
  padding: 0 50px; /* Adjust the spacing between prices */
  font-size: 18px;
  animation: ticker 20s linear infinite; /* Controls speed of the ticker */
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
