.claim-center{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.claim-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.claim-last{
    display: flex;
}
.claim-end{
    margin-left: auto;
}
.claim-font-20{
    font-size: 20px;
    }
    .claim-border{
        display: flex;
        justify-content: flex-end;
    }
    @media screen and (max-width:990px) {
        .claim-center{
            flex-direction: column;
        }
        
    }
    .Claim-main{
        background-color: #171B21;
        height: 100vh;
        color: #8E99A2;
    }
    .hr{
       display: flex;
       justify-content: center;

    }
    .hr hr{
        width: 40%;
    }
    .claim-top{
        margin-top: 5rem;
    }
    .claim-btn{
        border:solid;
        width: 18rem;
        height: 2.5rem;
        background-color: #84DCFE;
        color: black;
        border-radius: 1rem;
        margin-top: 1rem;
        
    }
    @media screen and (max-width:990px) {
       
        .Claim-main{
            height: auto;
            padding-bottom: 20px;
        }
        .claim-inline-block{
            display: inline-block;
        }
        
    }