/* Main navigation panel styles */
.Main-Nav-Panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right,#23272C ,#273247,#232930 );

}

.Main-Nav-Panel-ul {
    display: flex;
    color: #656F77;
    font-family:var(--dealfont);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

/* Search bar container (flex for alignment) */
.search-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 500px; /* Adjust width as needed */
    width: 100%;
    border-radius: 24px;
    padding: 0 10px;
}

.search-bar-input {
    width: 40%;
    padding: 8px 12px;
    color:white;
    border: none;
    border: solid;
    border-width:0.1cqi;
    border-color: #06B6D4;
    border-radius: 24px;
    outline: none;
    background: none;
    background-color: #2B2F41;
    font-size: 14px;
}

.search-bar-input::placeholder {
    color: #888;
}

.search-bar-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    outline: none;
}

.search-bar-btn i {
    font-size: 18px;
    color: #333;
}

/* Hover effect for the search button */
.search-bar-btn:hover i {
    color: #007bff;
}
.fa-search{
    background-color: #262F3E;
    color:white !important;
    margin-left: -3.5rem;
}
.mainpanel-4boxes{
    height: 2rem;
    width: 2rem;

}
.fa-bars{
    margin-left: 2rem;
}
@media screen and (max-width:768px) {
    .Main-Nav-Panel {
        flex-direction: column;

    }
    .search-bar-input{
        width: 70%;
    
    }
    .search-bar-container{
        margin-top: 0.4rem;
    }
   

    
}
.Main-Nav-Panel-ul li{
    background: linear-gradient(to right, #656F77,#06B6D4 50%, transparent 50%); /* Initial gradient */
    background-size: 200% 100%; /* Double the width of the background */
    background-position: right bottom; /* Start from the right */
    transition: background-position 0.3s ease; 
    color: white;
    padding: 1rem;
}
.Main-Nav-Panel-ul li:hover{
   
    background-position: left bottom; /* Move the gradient to the left on hover */



}