.paid-user-img {
    width: 80%;      /* Ensures the image takes the full width of its container */
    height: 100%;     /* Maintains the aspect ratio of the image */
    object-fit: cover;
   /* Ensures the image covers the container without distortion */
}

.nav-flex {
    display: flex;
    align-items: center;
}

.nav-first-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.nav-bold {
    font-weight: bold;
    margin-left: 10px;
}

.hamburger {
    cursor: pointer;
}

.nav-first-li {
    list-style: none;
   
}

.nav-first-li.open {
    display: block;
}

.Paid-User-Main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.Paid-welcome h1 {
    font-size: 2rem;
}

.paid-btn-one {
    padding: 10px 20px;
    background-color: #4077B6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paid-btn-one:hover {
    background-color: #305f94;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .Paid-User-Main {
        flex-direction: column;
    }

    .paid-user-img {
        width:90%;
       
        margin-top: 20px;
    }

    .floating-label {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width:1200px) {
   .paid-user-img{
    display: none;
   }
    
}